# GitLab NPM Registry
@shortlink-org:registry=https://gitlab.com/api/v4/packages/npm/
always-auth=true

//gitlab.com/api/v4/packages/npm/:_authToken=${NPM_TOKEN}
/gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${NPM_TOKEN}
